:root {
    --blue: rgb(143, 169, 226);
    --white: rgb(243, 243, 243);
    --gray: rgb(60, 50, 73);
    --border-thickness: 5px;
    --font-families: Arial, sans-serif;
}


/*
    scroll behavior code from https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
*/
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

h2 {
    width: 1px;
    margin-left: 2%;
    margin-right: 10vw;
    color: var(--blue);
    font-size: 2.5vw;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    border-right: var(--border-thickness) solid var(--gray);
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 20vw;
}

footer {
    width: 100%;
    height: 10vw;
    background-color: var(--gray);
}

a {
    color: var(--white);
    text-decoration: none;
}

section {
    margin-bottom: 20vw;
    display: flex;
}

.header {
    height: 5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
}
.header h1 {
    padding: .1%;
    padding-left: 10%;
    font-size: 3vw;
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: var(--blue);
}

.header nav {
    padding-top: 1vw;
    margin-right: 1vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(10px + .1vw);
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: .1vw;
    border-bottom: .3vw solid var(--blue);
}

.header a:hover {
    color: var(--blue);
}

#break-img {
    width: 100vw;
    height: 10vw;
    margin-bottom: 10vw;
}

#about-section {
    padding-top: 20vw;
    align-items: center;
    height: 5vw;
    margin-bottom: 40vw;
}

#about-section h2 {
    padding-top: 7vw;
    padding-bottom: 45vw;
}

#about-section img {
    width: 25vw;
    height: 35vw;
    border: 10px solid var(--gray);
    border-radius: 50%;
    margin-right: 10vw
}

#about-section p {
    padding-top: 5vw;
    margin-right: 3vw;
    font-size: calc(5px + 1vw);
    font-family: var(--font-families);
    color: var(--blue);
}

#work-section {
    flex-wrap: wrap;
    margin-bottom: 10vw
}

/*
styling for the project images at full screen size
*/
.projects-container {
    position: relative;
}

.projects-container img {
    width: 29.5vw;
    height: auto;
    margin-right: 1vw;
    margin-bottom: 1vw;
    border: var(--border-thickness) solid var(--blue);
}

.projects-container:hover {
    opacity: 25%;
}

.projects-container h3 {
    width: 15vw;
    height: 5vw;
    font-family: var(--font-families);
    background-color: var(--blue);
    color: var(--white);
    position: absolute;
    text-align: center;
    padding-top: 1.5vw;
    font-size: calc(5px + 1vw);
    bottom: 5vw;
    left: 0vw;
}

.project-one-container h3 {
    width: 15vw;
    bottom: 5vw;
    left: 0px;
}

.project-one-container img {
    width: 60vw;
    height: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.blank-placeholder {
    color: var(--white);
    border-right: none;
    margin-right: 1vw;
    padding-bottom: 0vw;
}

.side-border {
    color: var(--white);
    margin-left: 2vw;
    padding-bottom: 0vw;
}

#contact-section {
    padding-right: 10vw;
    padding-top: 5vw;
    margin-bottom: 5vw;
}

#contact-section h2 {
    padding-right: 10vw;
    padding-top: .1vw;
    padding-bottom: 2vw;
}

.contact-links {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 4vw;
}

.contact-links a {
    color:var(--blue);
    font-size: calc(7px + .5vw);
    font-family: var(--font-families);
}

.contact-links a:hover {
    opacity: 25%;
}