:root {
    --blue: rgb(143, 169, 226);
    --white: rgb(243, 243, 243);
    --gray: rgb(60, 50, 73);
    --border-thickness: 5px;
}


/*
    scroll behavior code from https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior
*/
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

h2 {
    margin-left: 20px;
    color: var(--blue);
    font-size: 60px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    padding-right: 30px;
    padding-top: 200px;
    padding-bottom: 200px;
    border-right: var(--border-thickness) solid var(--gray);
}

.header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray);
    color: var(--white);
    border-bottom: var(--border-thickness) dotted var(--blue);
}
.header h1 {
    padding-left: 200px;
    padding-right: 20px;
    font-size: 60px;
    font-family:'Trebuchet MS', Arial, sans-serif;
    background-color: var(--blue);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 5px;
    border-bottom: var(--border-thickness) solid var(--blue);
}


.header a {
    color: var(--white);
    text-decoration: none;
}

.header a:hover {
    color: var(--blue);
}

#break-img {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

section {
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
}

#about-section {
    align-items: center;
}
#about-section img {
    width: 500px;
    height: 650px;
    border: 10px solid var(--gray);
    border-radius: 1000px;
    margin-right: 50px
}

#about-section p {
    margin: 40px;
    width: 2250px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: var(--blue);
}

#work-section h2 {
    margin-left: 20px;
    padding-right: 150px;
    margin-right: 400px;
    padding-top: 1025px;
}

.projects-container {
    position: relative;
}

.projects-container img {
    width: 980px;
    height: 600px;
    margin-left: 40px;
    margin-bottom: 40px;
    border: var(--border-thickness) solid var(--blue);
}

container:hover {
    opacity: 25%;
}

.projects-container h3 {
    width: 250px;
    height: 100px;
    font-family: Arial, sans-serif;
    background-color: var(--blue);
    color: var(--white);
    position: absolute;
    text-align: center;
    font-size: 25px;
    bottom: 100px;
    left: 45px;
}

.project-one-container h3 {
    width: 500px;
    bottom: 100px;
    left: 0px;
}

.project-one-container img {
    width: 2000px;
    height: 1250px;
    margin-left: 0px;
}

.space-placeholder {
    color: var(--white);
    margin-left: 20px;
    padding-right: 205px;
    margin-right: 360px;
    padding-bottom: 512px;
    border-right: var(--border-thickness) solid var(--gray);
}
@media screen and (max-width:768px) {

    .header h1 {
        padding-left: 100px;
        padding-right: 20px;
        margin-right: 100px;
    }
    .header nav ul li {
        font-size: 20px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    h2{
        font-size: 30px;
        margin-left: 10px; 
    }
    
    #about-section h2
    {
        padding-top: 275px;
        padding-bottom: 275px;
    }
    #about-section img {
        width: 150px;
        height: 200px;
    }
    
    #about-section p {
        width: 300px;
        font-size: 20px;
        padding-left: 20px;
    }
}